<!-- <main class="container"> -->
      <!-- <div class="row">
        Cover image
        <section class="jumbotron" style="background-image: url(assets/images/hogwarts_small.jpg); background-size: 100%;">
        </section>
        Middle nav links
        <div class="row">
          <div class="collapse navbar-collapse">
            <nav class="navbar navbar-default  middle-nav">
              <ul class="nav navbar-nav">
                <li><a href="#">Timeline</a></li>
                <li class="active"><a href="#">About <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Photos <span class="count">(8)</span></a></li>
                <li><a href="#">Friends <span class="count">(12)</span></a></li>
              </ul>
              <div class="navbar-right">
                <a href="#">Edit Profile</a>
              </div>
            </nav>
          </div>
        </div>

      </div>

        Profile photo
      <div class="row">
        <section class="col-sm-4 img-responsive profile-image">
          <img src="assets/images/harry_potter_small.jpg">
        </section>
      </div>


        Section Header
      <div class="navbar section-bar">
        <section>
            <h3 class="navbar-header">About</h3>
            <button type="button" class="btn btn-primary navbar-right navbar-btn about-btn">Edit Profile</button>
        </section>
      </div> -->


      <!-- Personal Info-->
      <!-- <div class="row section-container"> -->

        <!-- Left side -->
        <!-- <section class="col-sm-5">
          <table class="table col-sm-offset-1">
          <thead>
          <tr>
            <th class="col-sm-6">Basic Information</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Birthday:</td>
            <td>July 31st, 1990</td>
          </tr>
          <tr>
            <td>College:</td>
            <td>Hogwarts College</td>
          </tr>
          <tr>
            <td>Hometown</td>
            <td>Godrick's Hollow, England</td>
          </tr>
          <tr>
            <td>Currently Lives:</td>
            <td>Godrick's Hollow, England</td>
          </tr>
          </tbody>
          </table>

          Contact Information
          <table class="table col-sm-offset-1">
            <thead>
              <tr>
                <th class="col-sm-6">Contact Information</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Email:</td>
                <td>harry_potter@hogwarts.edu</td>
              </tr>
              <tr>
                <td>Telephone:</td>
                <td>555-123-4567</td>
              </tr>
            </tbody>
          </table>
        </section> -->

        <!-- Left side -->
        <!-- <div class="col-sm-5">
          <div class="table col-sm-offset-1">


            <div class="col-sm-6">Basic Information</div> -->

            <%= simple_form_for @user do |user_fields| %>
              <%= user_fields.simple_fields_for :profile do |profile_fields| %>
                <%= profile_fields.input :birthday %>
                <%= profile_fields.input :college %>
                <%= profile_fields.input :hometown %>
                <%= profile_fields.input :currentlylives %>
              <% end %>
            <!-- </div>
            <div class="col-sm-6">Contact Information</div> -->

            <%= user_fields.input :email %>
            <%= user_fields.simple_fields_for :profile do |profile_fields| %>
              <%= profile_fields.input :telephone %>
              <%= profile_fields.input :words %>
              <%= profile_fields.input :about %>

            <% end %>
              <%= user_fields.button :submit %>
            <% end %>
            <!-- </div>
          </div>
        </div> -->



        <!-- Right side -->
        <!-- <section class="pull-right col-sm-6">
          <h3>Words to Live by</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>

          <h3>About Me</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>
      </div> -->
    <!-- <div class="row bottom-spacer">
    <br>
    </div>
    </main>
  </body>
</html> -->

<!-- http://stackoverflow.com/questions/19365809/form-submit-button-only-works-after-reload -->
