<main class="about-main">
  <div class="container">
    <!--Header-->
    <div class="about-header">
      <h1>About</h1>
      <!-- <a class="btn btn-primary" href="about_edit.html" role="button">Edit your Profile</a> -->
      <%= link_to "Edit Your Profile", edit_user_path(current_user), class: "btn btn-primary" %>
    </div>
    <!--About Information-->
    <div class="about-info">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <section class="basic-info">
            <h2>Basic Information</h2>
            <dl>
              <dt>Birthday:</dt>
              <dd><%= @user.profile.birthday %></dd>
            </dl>
            <dl>
              <dt>College:</dt>
              <dd><%= @user.profile.college %></dd>
            </dl>
            <dl>
              <dt>Hometown:</dt>
              <dd><%= @user.profile.hometown %></dd>
            </dl>
            <dl>
              <dt>Currently Lives:</dt>
              <dd><%= @user.profile.currentlylives %></dd>
            </dl>
          </section>
          <section class="contact-info">
            <h2>Contact Information</h2>
            <dl>
              <dt>Email:</dt>
              <dd><%= @user.email %></dd>
            </dl>
            <dl>
              <dt>Telephone:</dt>
              <dd><%= @user.profile.telephone %></dd>
            </dl>
          </section>
        </div>
        <div class="col-xs-12 col-md-6">
          <section class="words-to-live-by">
            <h2>Words to Live By</h2>
            <p><%= @user.profile.words %></p>
          </section>
          <section class="about-me">
            <h2>About Me</h2>
            <p><%= @user.profile.about %></p>
          </section>
        </div>
      </div>
    </div>
  </div>
</main>
