<!--Top Section (Cover & Personal PHotos, Middle Navigation-->

<section class="top-section">
  <div class="container">
    <!--Cover Photo-->
    <div class="cover-photo">
      <img src="assets/hogwarts_small.jpg">
    </div>
    <!--Profile Photo-->
    <div class="personal-photo">
      <img src="assets/harry_potter_small.jpg">
    </div>
    <!--Name-->
    <div class="profile-name">
      <h1>Harry Potter</h1>
    </div>
    <!--Middle Navigation Bar-->
    <nav class="navbar navbar-default navbar-mid">
      <div class="navbar-mid-buttons">
        <div class="navbar-profile-buttons btn-group">
          <%= link_to "Timeline", user_posts_path(@user), class: "btn btn-default", role: "button" %>
          <%= link_to "About", user_path(current_user.id), class: "btn btn-default", role: "button" %>
          <%= link_to "Photos", "#", class: "btn btn-default", role: "button" %>
          <%= link_to "Friends", "#", class: "btn btn-default", role: "button" %>
<!--           <a class="btn btn-default" href="timeline.html" role="button" disabled="disabled">Timeline</a>
          <a class="btn btn-default" href="about.html" role="button">About</a>
          <a class="btn btn-default" href="photos.html" role="button">Photos (<span id="photo-count">123</span>)</a>
          <a class="btn btn-default" href="friends.html" role="button">Friends (<span id="friend-count">542</span>)</a> -->
        </div>
        <div class="navbar-edit-button">
          <%= edit_link %>
          <%#= link_to "Edit Profile", about_edit_path, class: "btn btn-link", role: "button" %>
          <!-- <a class="btn btn-link" href="about_edit.html" role="button">Edit Profile</a> -->
        </div>
      </div>
    </nav>
  </div>
</section>
