<main class="timeline-main">
  <div class="container">
    <div class="row">
      <!--Left Side - About, Photos, Friends-->
      <div class="col-xs-12 col-sm-5">
        <!--About-->
        <div class="timeline-item">
          <div class="timeline-heading">
            <h1>About</h1>
          </div>
          <div class="timeline-about-info">
            <dl>
              <dt>Born on:</dt>
              <dd><%= @user.profile.birthday %></dd>
            </dl>
            <dl>
              <dt>Went to school at:</dt>
              <dd><%= @user.profile.college %></dd>
            </dl>
            <dl>
              <dt>Hometown:</dt>
              <dd><%= @user.profile.hometown %></dd>
            </dl>
            <dl>
              <dt>Currently Lives:</dt>
              <dd><%= @user.profile.currentlylives %></dd>
            </dl>
          </div>
        </div>
        <!--Photos-->
        <div class="timeline-item">
          <div class="timeline-heading">
            <h1>Photos (<span id="photo-count">123</span>)</h1>
          </div>
          <div class="timeline-content-container">
            <div class="row">
              <div class="timeline-content col-xs-4">
                <a href="#">
                  <img src="assets/icon_photo_small.png">
                </a>
              </div>
              <div class="timeline-content col-xs-4">
                <a href="#">
                  <img src="assets/icon_photo_small.png">
                </a>
              </div>
              <div class="timeline-content col-xs-4">
                <a href="#">
                  <img src="assets/icon_photo_small.png">
                </a>
              </div>
              <div class="timeline-content col-xs-4">
                <a href="#">
                  <img src="assets/icon_photo_small.png">
                </a>
              </div>
              <div class="timeline-content col-xs-4">
                <a href="#">
                  <img src="assets/icon_photo_small.png">
                </a>
              </div>
              <div class="timeline-content col-xs-4">
                <a href="#">
                  <img src="assets/icon_photo_small.png">
                </a>
              </div>
              <div class="timeline-content col-xs-4">
                <a href="#">
                  <img src="assets/icon_photo_small.png">
                </a>
              </div>
              <div class="timeline-content col-xs-4">
                <a href="#">
                  <img src="assets/icon_photo_small.png">
                </a>
              </div>
              <div class="timeline-content col-xs-4">
                <a href="#">
                  <img src="assets/icon_photo_small.png">
                </a>
              </div>
              <div class="timeline-footer col-xs-12">
                <a class="btn btn-link" href="photos.html" role="button">See More Photos</a>
              </div>
            </div>
          </div>
        </div>
        <!--Friends-->
        <div class="timeline-item">
          <div class="timeline-heading">
            <h1>Friends (<span id="friend-count">542</span>)</h1>
          </div>
          <div class="timeline-content-container">
            <div class="row">
              <div class="timeline-content col-xs-4">
                <a href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <a class="timeline-friend-name" href="#">Ron Weasley</a>
              </div>
              <div class="timeline-content col-xs-4">
                <a href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <a class="timeline-friend-name" href="#">Ginny Weasley</a>
              </div>
              <div class="timeline-content col-xs-4">
                <a href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <a class="timeline-friend-name" href="#">Hermione Granger</a>
              </div>
              <div class="timeline-content col-xs-4">
                <a href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <a class="timeline-friend-name" href="#">paragraph text</a>
              </div>
              <div class="timeline-content col-xs-4">
                <a href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <a class="timeline-friend-name" href="#">paragraph text</a>
              </div>
              <div class="timeline-content col-xs-4">
                <a href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <a class="timeline-friend-name" href="#">paragraph text</a>
              </div>
              <div class="timeline-footer col-xs-12">
                <a class="btn btn-link" href="friends.html" role="button">See More Friends</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Right Side - Timeline Posts-->
      <div class="col-xs-12 col-sm-7">
        <!--Make Post-->
        <div class="timeline-item">
          <div class="timeline-heading">
            <h1>Post</h1>
          </div>
          <div class="make-post-content">
            <!-- <textarea class="form-control" rows="4" placeholder="Tell the world something..."></textarea> -->
            <%= render partial: 'shared/post_form' %>
          </div>
          <div class="make-post-submit">
            <!-- <a class="btn btn-primary" href="#" role="button">Post</a> -->
          </div>
        </div>
        <!--Existing Post 1-->
        <% @posts.each do |post| %>
        <article class="timeline-post">
          <div class="poster-photo">
            <a href="about.html">
              <img src="assets/harry_potter_small.jpg">
            </a>
          </div>
          <div class="poster-info">
            <!-- <a class="btn btn-link" href="about.html" role="button">Harry Potter</a> -->
            <%= link_to user_full_name, @user %>
            <!-- TODO format date -->
            <p>Posted on <%= post.created_at %></p>
          </div>
          <div class="post-content">
            <p>
              <%= post.body %>
            </p>
          </div>
          <div class="post-interaction">
            <!-- <a class="btn btn-link like-button" href="#" role="button">Like</a> -->
            <%= like_links(post) %>
            <a class="btn btn-link comment-button" href="#" role="button">Comment</a>
            <!-- <a class="btn btn-link delete-button" href="#" role="button">Delete</a> -->
            <%#= link_to "Delete", user_post_path(current_user, post), class: "btn btn-link delete-button", method: :delete %>
            <%= delete_post_link(post) if post.user == current_user%>
          </div>
        </article>
        <% end %>
                <!--Existing Post 3 (Liked & Comments)-->
        <article class="timeline-post">
          <div class="poster-photo">
            <a href="about.html">
              <img src="assets/harry_potter_small.jpg">
            </a>
          </div>
          <div class="poster-info">
            <a class="btn btn-link" href="about.html" role="button">Harry Potter</a>
            <p>Posted on Thursday 5/21/2014</p>
          </div>
          <div class="post-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="post-interaction">
            <a class="btn btn-link like-button" href="#" role="button">Unlike</a>
            <!--no comment button needed, since comments are being shown
            <a class="btn btn-link comment-button" href="#" role="button">Comment</a>-->
            <a class="btn btn-link delete-button" href="#" role="button">Delete</a>
          </div>
          <div class="post-likes">
            You and <a href="#">Hermione Granger</a> and 3 others like this.
          </div>
          <!--Comments-->
          <div class="post-comments">
            <!--Comment 1-->
            <div class="comment">
              <div class="comment-poster-photo">
                <a href="about.html">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
              </div>
              <div class="comment-poster-info">
                <a href="#">Ron Weasley</a>
                <p>Said on Thursday 5/21/2014</p>
              </div>
              <div class="comment-post-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
              <div class="comment-post-likes">
                <a href="#">Like</a>
                <p>3 other people like this</p>
              </div>
            </div>
            <!--Comment 2-->
            <div class="comment">
              <div class="comment-poster-photo">
                <a href="about.html">
                  <img src="assets/harry_potter_small.jpg">
                </a>
              </div>
              <div class="comment-poster-info">
                <a href="about.html">Harry Potter</a>
                <p>Said on Friday 5/22/2014</p>
              </div>
              <div class="comment-post-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
              <div class="comment-post-likes">
                <a class="like-button" href="#">Like</a>
                <p>3 other people like this</p>
                <a class="delete-button" href="#">Delete</a>
              </div>
            </div>
            <div class="comment-entry">
              <textarea class="form-control" rows="6" placeholder="Write a comment..."></textarea>
            </div>
            <div class="comment-submission">
              <a class="btn btn-link" href="#" role="button">Cancel</a>
              <a class="btn btn-primary" href="#" role="button">Comment</a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</main>
